version: "3"
services:
#  fake_api:
#    image: jaxgeller/lwan
#    volumes:
#      - ./data:/lwan/wwwroot
#    ports:
#      - "8000:8080"

  krakend_ce:
    image: devopsfaith/krakend:1.1.1
    volumes:
      - ./krakend:/etc/krakend
    ports:
      - "1234:1234"
      - "8080:8080"
      - "8090:8090"
#    depends_on:
#      - fake_api

  jwt_revoke:
    build:
      context: ./jwt-revoker
    ports:
      - "9000:8080"
    depends_on:
      - krakend_ce

#  login-mock:
#    container_name: login-mock
#    hostname: login-mock
#    build:
#      context: ./login-mock
#    ports:
#    - "3333:3333"

